



html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;

}

*::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent; /* Set your desired background color */
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #d95b59; /* Set your desired thumb color */
  }


.photo1 {
    animation: photo1 1s ease-in 0s infinite alternate-reverse;
}

@keyframes photo1 {
    from {
        transform: translateX(-30px);
    }
    to {
        transform: translateX(0);
    }
}

.stripe {
    animation: stripe 2s ease-in 0s infinite alternate-reverse;
}

@keyframes stripe {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(-100px);
    }
}

.typewriter {
    padding-right: 1px;
    border-right: 2px solid black;
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(17) 1s alternate-reverse infinite, cursor .2s step-end infinite alternate-reverse;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    0% { width: 18ch}

    25% { width: 13ch}

    50% { width: 9ch}

    75% { width: 5ch}

    100% { width: 0ch}
}

nav {
 font-size: x-large;
}

.icon {
    transition: all 1.5s;
    animation: rotateAnimation 1s linear infinite alternate; /* Continuous rotation */
}


@keyframes rotateAnimation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(45deg);
        ;
    }
}

.navlink {
    font-size: medium;
}

 a.active {
    background-image: linear-gradient(45deg, #eb984a, #ed4946);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
   }